/*for the controls*/
#hamburger{
	position:absolute;
	top:10px;
	right:20px;
	padding:10px;
	z-index:20;
	cursor:pointer;
}
.bar1, .bar2, .bar3 {
	width: 20px;
	height: 3px;
	background-color: #808080;
	margin: 4px 0;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 4px) ;
	transform: rotate(-45deg) translate(-6px, 4px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-6px, -4px) ;
	transform: rotate(45deg) translate(-6px, -4px) ;
}

#controls{
	display:inline-block;
	padding:10px;
	padding-left:10px;
	width:160px;
	height:100%;
	position:absolute;
	top:0;
	left:100vw;
	background-color: rgba(200, 200, 200, 0.95);
	color:#000000;
	z-index:19;

}
.controlsTitle{
	font-size:24px;
	line-height:24px;
	margin:0;
	/*margin-top:20px;*/
	padding-top:20px;
	/*padding-left:5px;*/
	cursor:pointer;
}
.controlsSubtitle{
	font-size:16px;
	line-height:24px;
	margin:0;
	margin-top:5px;
}
.radioButtons{
	padding-top:6px;
	padding-left:12px;
}

/* drop downs */
.navi {
	display:inline-block;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 16px solid black;
	position: relative;
	transition: all 0.5s ease;
	margin-right:5px;
}
.rotate180 {
	transform: rotate(180deg);
}

.dropdown-content {
	/*display: none;*/
	-webkit-transition:  .5s ease;
	transition:  .5s ease;
	/*height:0px;*/
	/*visibility:hidden;*/
	opacity:0;

}

/* Custom radio buttons */
/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
/* Customize the label (the container) */
.radioLabel {
	display: block;
	position: relative;
	padding-left: 24px;
	margin-bottom: 6px;
	cursor: pointer;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.radioLabel input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.radioCheckmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #eee;
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radioLabel:hover input ~ .radioCheckmark {
	background-color: #ccc;
}

/* When the radio button is checked, add a darker background */
.radioLabel input:checked ~ .radioCheckmark {
	background-color: #000000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radioCheckmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioLabel input:checked ~ .radioCheckmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.radioLabel .radioCheckmark:after {
	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}


/* sliders */
/*https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	border-radius: 5px;
	background: white;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #000000;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #000000;
	cursor: pointer;
}

/* */
/*.textInput{
	width:45px;
	height:20px;
	padding:1px;
}*/
.textInputContainer {
	float:left;
	margin-right:4px;
}
.textInputContainer p{
	top:10px;
	font-size:10px;
	margin:0;
	padding:0;
	text-align:center;
}

input[type=text], select {
	width: 45px;
	height:20px;
	padding:1px;
	border:1px solid #555555;
}

input[type=submit] {
	width: 30px;
	height:24px;
	background-color: #555555;
	color: white;
	margin: 0;
	padding:1px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #000000;
}

/* custom check boxes */
/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
/* Customize the label (the container) */
.checkboxLabel {
	display: block;
	position: relative;
	padding-left: 22px;
	margin-bottom: 6px;
	cursor: pointer;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxLabel input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkboxCheckmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxLabel:hover input ~ .checkboxCheckmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxLabel input:checked ~ .checkboxCheckmark {
	background-color: #000000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkboxCheckmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkboxLabel input:checked ~ .checkboxCheckmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkboxLabel .checkboxCheckmark:after {
	left: 6px;
	top: 3px;
	width: 3px;
	height: 7px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.checkboxButtons{
	padding-top:6px;
	padding-left:12px;
}

.disabled{
	color: #ccc;
	border-top-color: #ccc;
	transition: all 0.5s ease;
}
