
html,body {
	font: 12px sans-serif;
	font-family: sans-serif;
	padding:0;
	margin:0;
	background-color :  #000000;
	overflow: hidden;
	color: #FFFFFF;
	height:100%;
}

#svg{
	font-family: sans-serif;
}

.axisLabel{
	fill:#808080;
}

.credits{
	fill:#808080;
	text-anchor:middle;
}

.title{
	/*fill:#808080;*/
	fill:white;
	text-anchor:middle;
}
.legendText{
	text-anchor:start;
	font-style: italic;
}

.axis{
	stroke:#808080;
	color:#808080;
}

.inFront{
	z-index:10;
}

.hidden{
	display:none;
}

#tooltip{
	background-color: #eeeeee;
	border-radius:5px;
	color:black;
	z-index:30;
	padding:5px;
	display: inline-block;
	opacity:0;
	position:absolute;
	margin:0;
	box-sizing: border-box;
}

.clickable:hover{
	cursor:pointer;
}
