:root {
	--plot-text-color: #808080;
	--plot-background-color: #000000;
}


html,body {
	font: 12px sans-serif;
	font-family: sans-serif;
	padding:0;
	margin:0;
	background-color :  var(--plot-background-color);
	overflow: hidden;
	color: #FFFFFF;
	height:100%;
}

.axisLabel{
	fill:var(--plot-text-color);
	font-size:50px;
}

.credits{
	fill:var(--plot-text-color);
	font-size:25px;
}

.title{
	fill:var(--plot-text-color);
	font-size:75px;
}

.axis{
	stroke:var(--plot-text-color);
	color:var(--plot-text-color);
	font-size:28px;
}

.inFront{
	z-index:10;
}

#tooltip{
	background-color: white;
	border-radius:5px;
	color:black;
	z-index:30;
	padding:5px;
	display: inline-block;
	opacity:0;
	position:absolute;
	margin:0;
	box-sizing: border-box;
}

